<div
  class="close-side-bar d-flex gap-2 flex-column justify-content-end align-items-center"
  *ngIf="user"
>
  <button
    class="btn w-100 d-flex justify-content-end"
    (click)="hideUserDetails()"
  >
    <i class="bi bi-x fs-3 text-primary"></i>
  </button>
  <img
    class="user-details-img"
    [src]="user.avatar"
  />
  <h2 class="m-0 user-details-name">{{user.first_name}}</h2>
  <div class="user-details-actions mt-4 d-flex justify-content-between gap-3">
    <button class="btn user-details-edit d-flex gap-2 btn-primary" (click)="editUser()">
      <i class="bi bi-pencil-fill text-white"></i>
      <p class="m-0">Edit</p>
    </button>
    <button class="btn user-details-delete d-flex gap-2 btn-outline-primary" (click)="deleteUser()">
      <i class="bi bi-trash-fill text-primary"></i>
      <p class="m-0">Delete</p>
    </button>
  </div>
</div>
