<div class="skeleton-container w-100">
  <div class="skeleton-row my-3" *ngFor="let item of [1, 2, 3]">
    <div class="w-100 d-flex justify-content-between px-5">
      <div class="d-flex gap-3 align-items-center">
        <p-skeleton shape="circle" size="4rem"></p-skeleton>
        <p-skeleton height="1.5rem" width="10rem"></p-skeleton>
      </div>
      <div class="d-flex gap-3 align-items-center">
        <p-skeleton height="1.5rem" width="2rem"></p-skeleton>
        <p-skeleton height="1.5rem" width="2rem"></p-skeleton>
        <p-skeleton height="1.5rem" width="2rem"></p-skeleton>
      </div>
    </div>
  </div>
</div>
