<div class="container-fluid px-0">
  <div
    class="users-header-section bg-gray d-flex justify-content-between px-5 pb-4"
  >
    <h2 class="m-0">Users List</h2>
    <button class="btn btn-primary" (click)="addUser()">+ New User</button>
  </div>
  <div
    class="users-table-container my-3"
    [ngClass]="{ 'table-with-user-details': userDetailsVisibility }"
  >
    <div class="users-table p-3">
      <div class="users table-header px-5 d-flex justify-content-between w-100">
        <p class="m-0 text-gray">User</p>
        <p class="m-0 me-5 text-gray">Actions</p>
      </div>
      <div class="table-body">
        <div
          *ngFor="let user of users; let i = index"
          class="user user-underline d-flex justify-content-between px-5"
          [ngClass]="{
            'selected-user': i == selectedUserIndex && userDetailsVisibility
          }"
          (click)="showUserDetails(user, i)"
        >
          <div class="user-detail d-flex gap-3 align-items-center">
            <img [src]="user.avatar" class="user-img" alt="" />
            <p class="user-name m-0 text-capitalize">{{ user.first_name }}</p>
          </div>
          <div class="user-actions d-flex align-items-center gap-3">
            <button
              class="btn btn-action-user d-flex justify-content-center align-items-center"
              (click)="$event.stopPropagation(); editUser(user)"
            >
              <img src="assets/images/icons/icons8-edit.svg" alt="" />
            </button>
            <button
              class="btn btn-action-user d-flex justify-content-center align-items-center"
              (click)="$event.stopPropagation(); deleteUser(user)"
              data-bs-toggle="modal"
              data-bs-target="#userFormModal"
            >
              <img src="assets/images/icons/icons8-delete.svg" alt="" />
            </button>
            <button class="btn btn-user-details">
              <i class="bi bi-chevron-right text-primary fs-6"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="user-details-side-bar h-100 p-2 flex-column">
      <app-user-details
        (hideUserDetails)="hideUserDetails()"
        (editUser)="editUser(selectedUser)"
        (deleteUser)="deleteUser(selectedUser)"
        [user]="selectedUser"
      ></app-user-details>
    </div>
  </div>
</div>

<p-dialog
  [draggable]="false"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
  styleClass="user-form-modal"
  [(visible)]="userFormModalVisibility"
  (onHide)="closeUserFormModal()"
>
  <ng-container *ngIf="modalMood == 'userForm'; else elseTemplate">
    <app-user-form (closeUserFormModal)="closeUserFormModal()"></app-user-form>
  </ng-container>
  <ng-template #elseTemplate>
    <app-user-delete
      [user]="selectedUser"
      (closeUserFormModal)="closeUserFormModal()"
    ></app-user-delete>
  </ng-template>
</p-dialog>

<!-- Modal
<div
  class="modal fade"
  id="userFormModal"
  tabindex="-1"
  aria-labelledby="userFormModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-user-form modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div> -->
