.users-table {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 1170px;
}
.user {
  border-radius: 10px;
  padding: 15px 0px;
  position: relative;
  width: 100%;
  transition: background-color 0.5s;
  cursor: pointer;
  &:hover{
    background-color: rgba(142,68,173,0.05);;
  }
}
.user-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.user-name {
  color: #34495e;
  font-size: 15px;
}
.user-underline::after{
    position: absolute;
    width: 100%;
    bottom: 0;
    // left: -30px;
    left: 0;
    content: '';
    height: 1px;
    background: #DEDEDE;
}
.btn-action-user{
    border: 1px solid var(--primary-color);
    width: 32px;
    height: 32px;
}
.btn-user-details-img{
    width: 12px;
}