:root {
  --primary-color: #8e44ad;
  --primary-color-50: #8d44ad94;
}
body {
  font-family: "SFNS Display" !important;
  padding: 70px 0px;
}
@font-face {
  font-family: "SFNS Display";
  src: url("./assets/fonts/SFNSDisplayRegular/SFNSDisplayRegular.ttf");
}
.text-primary {
  color: var(--primary-color) !important;
}
.bg-gray {
  background: #dedede;
}
.btn-primary,.p-button {
  border-radius: 20px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  color: white;
  padding: 9px 25px;
  font-weight: normal;
  &:hover,&:focus,&:active,&:enabled:hover{
    background-color: var(--primary-color) !important;
  }
  &:disabled{
    background-color: var(--primary-color-50) !important;
  }
}
.btn-outline-primary {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 9px 25px;
  &:hover,
  &:focus,
  &:active {
    background-color: white !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
  }
}
.text-gray {
  color: #7f8c8d;
}
