@font-face {
  font-family: "SFNS Display";
  src: url("./assets/fonts/SFNSDisplayRegular/SFNSDisplayRegular.ttf");
}
body {
  font-family: "SFNS Display" !important;
  padding-top: 80px;
}
.text-gray {
  color: #7f8c8d;
}
